/* Core Styles */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}

.btn:hover {
    background: #eaeaea;
    color: #333;
}


/* Header */

header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
}


/* Section a */

#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}


/* Section b */

.card-container {
    padding: 2em 1em 1em;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2em;
    justify-content: center;
    align-items: center;
}

.card {
    height: 100%;
    overflow: auto;
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}


/* Section c */

#section-c {
    width: 100%;
    background: #fff;
    color: #333;
    padding: 2em 0;
}


/* section d */

#section-d {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    color: #fff;
}

.contact-us,
.about-us {
    padding: 2em;
}

.contact-us {
    background: #2690d4;
}

.contact-us a {
    display: inline-block;
}


/* footer */

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
}

footer a {
    color: #2690d4;
    text-decoration: none;
}